In [25]:
import pandas as pd
import sqlite3

In [26]:
df = pd.read_csv('movie.csv')

In [27]:
df.shape

(160, 14)

In [28]:
conn = sqlite3.connect('movies.db')

In [29]:
cursor = conn.cursor()

In [30]:

df.to_sql('movies',conn ,if_exists='replace',index=True)

160

In [31]:
conn.close()

In [3]:

import pandas as pd
columns = ['Title' ,'Time' ,'Type', 'Duration', 'Link' ,'movieDesc', 'Released' ,'Genre' ,'Casts' ,'Country', 'Production' ,'IMDB_rating']
# pair = [pair for pair in zip(Title ,Time ,Type ,Duration, Link ,movieDesc ,Released ,Genre ,Casts, Country ,Production ,IMDB_rating)]
df = pd.DataFrame( columns=columns )

In [4]:
df

Empty DataFrame
Columns: [Title, Time, Type, Duration, Link, movieDesc, Released, Genre, Casts, Country, Production, IMDB_rating]
Index: []

In [8]:
import time
start = time.time()
for i in range(5):
    for j in range(32):
        time.sleep(0.1)
        print("_",end="" )
        
    end = time.time()
    print()
    
print(f"{(end - start)}sec")

________________________________
________________________________
________________________________
________________________________
________________________________
16.069681644439697sec

In [24]:
import time
import sys

total_iterations = 5 * 32  # Total number of iterations in both loops
start = time.time()  # Start the timer

for i in range(5):
    for j in range(32):
        # Simulate work
        time.sleep(0.1)

        # Calculate the current iteration count
        current_iteration = (i * 32) + j + 1  # i starts from 0, so +1 to avoid zero
        
        # Calculate time taken so far
        elapsed_time = time.time() - start
        
        # Estimate total time needed based on current progress
        estimated_total_time = (elapsed_time / current_iteration) * total_iterations
        
        # Calculate remaining time
        remaining_time = estimated_total_time - elapsed_time
        
        # Print progress and estimated remaining time (using carriage return)
        sys.stdout.write(f"\rIteration {current_iteration}/{total_iterations} completed. Estimated remaining time: {remaining_time:.2f} seconds")
        sys.stdout.flush()  # Flush the output to ensure it prints immediately

print()  # Print a newline after the loop finishes

# Total time taken
end = time.time()
print(f"Total time taken: {end - start:.2f} seconds")

Iteration 160/160 completed. Estimated remaining time: 0.00 seconds
Total time taken: 16.41 seconds